.idea/
/Project 2/CS451/
/Project 2/lstore/__pycache__/
/Project 2/default_db/
/Project 3/M2/
/Project 3/default_db/
/Project 3/CT/
/Project 3/CS451/
/Project 3/MT/
/Project 2/M2/
/Project 2/MT/
/Project 2/CT/
